{:domain "YOUR_DOMAIN"
 :issuer "https://YOUR_DOMAIN/"
 :client-id "CLIENT_ID"
 :signing-algorithm :rs256
 :client-secret "CLIENT_SECRET"
 :base "http://localhost:3000"
 :scope "openid user_id name nickname email picture"
 :callback-path "/auth/callback"
 :error-redirect "/login"
 :success-redirect "/"
 :logout-handler "/auth/logout"
 :logout-redirect "/"}
